
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/* starting media queries*/
@media only screen and (mind-width:768px){

}

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/* navigation bar */
nav {
  background-color: #0396A6;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  width: 100%;
  padding: 10px 0;
}

/* headshot on nav*/
nav img{
  border-radius:100%;
  width: 15%;
  padding: 2%;
  display: inline;
}

nav ul {
  margin:0;
  padding: 0 10px;
  list-style-type: none;
  display: inline;
}

/* nav sub menu*/
nav ul ul li{
  padding-left: 40px;
}

nav li{
  display: inline-block;
  padding: 10px 30px;
}

nav li a{
  color: #F2F2F2!important;
  text-decoration: none;
  text-align: center;
  padding: 10px 20px;
}

nav li a:hover{
  background-color: #89DAD9!important;
}

/* social/network icons */
i{
  padding-top: 20%;
}

.social-icons{
  /*padding-left: 25%;*/
}

.social-icons
a{
	display:inline-block;
	height:3.5rem;
  width:3.5rem;
	background-color:#707070;
	color:#F2F2F2!important;
	border-radius:100%;
	text-align:center;
	font-size:2rem;
	line-height:3.5rem;
	margin-right:1rem
}

.social-icons a:last-child{
	margin-right:0;
	}

.social-icons a:hover{
	background-color:#0396A6;
}

main {
	background-color:#F2EBDF!important;
  color:#707070!important;
  padding: 2% 2%;
  margin: 0;
  padding-bottom: 200px;
}

main p{
  /*padding-left: 25%;*/
}

div{
  padding: 40px 40px;
}

/* figures for pubs */
div img{
  width: 30%;
}

main a{
	color:#0396A6;

}

/* unvisited link */
main a:link {
  color: #0396A6;

}

/* mouse over link */
main a:hover {
  color: #89DAD9;
}

h2{
  padding: 5% 0;
}

/* download cv and resume*/
div ul{
  float: right;
  width: 85%;
  list-style-type: none;
}

div ul li a{
  text-decoration: none!important;
  text-align: center;
}

div ul li a:hover{
  background-color: #89DAD9;
  color: #707070;
}
